{% extends "layout.html" %}

{% block body_content %}
    <h1>The Favorite Movie Project</h1>

    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <span>by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
            <span>on the <i>{{ post.date_posted }}</i></span>
            <p>{{ post.content }}</p>
            {% if current_user.id == post.user_id %}
                <a href="{{ url_for('post_update', update=post.id)}}"><button class="btn btn-outline-warning btn-sm" type="submit">Update</button></a>
                <a href="{{ url_for('post_delete', remove=post.id)}}"><button class="btn btn-outline-danger btn-sm" type="submit" onclick="return confirm('This will remove the post! Continue?')">Delete</button></a>
            {% endif %}

        </div>
    {% endfor %}

{% endblock %}
